* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  background-image: url(kepek/49a3d1f296b23b55c873338884bf32a9.jpg);

  background-size: cover;
  background-position: center;
  max-width: 1000px;
  width: 80%;
  margin: auto;
  color: white;
  text-align: center;
}
main {
  background-color: black;

  border-radius: 15px;
}
h1 {
  letter-spacing: 3px;
  font-weight: bold;
  padding-top: 40px;
}
header {
  height: 120px;
  border: 2px solid aquamarine;
  color: aquamarine;
  border-radius: 15px;
}
nav {
  height: 60px;
  border: 2px solid aquamarine;
  color: aquamarine;
  border-radius: 15px;
}
nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}
article {
  border-radius: 15px;
  border: 2px solid aquamarine;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
article img {
  max-height: 400px;
  width: auto;
  border: 2px solid black;
  border-radius: 15px;
}
article p {
  color: aquamarine;

  border-radius: 15px;
}
nav a {
  font-size: larger;
  color: aquamarine;
  font-weight: bold;
  text-decoration: none;
}
nav li {
  padding-top: 15px;
  list-style-type: none;
}
.urlap_art {
  flex: 0 0 300px;
  color: black;
  display: flex;

  flex-direction: column;
  align-items: center;
}
form {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
  grid-column: 2/4;
  background-color: aquamarine;
}
.alt {
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
fieldset {
  display: flex;
  justify-content: center;
  border-color: black;
  padding: 25px;
}
legend {
  font-weight: bold;
}
.elso {
  gap: 10px;
  width: 260px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
}
.programozo {
  display: flex;
  gap: 20px;
}
.adat {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.adat input {
  width: 150px;
}
.indok {
  gap: 10px;
  display: flex;
  flex-direction: column;
}
